<form action="/new" method="POST" class="card bg-dark text-light">

    <div class="card-body p-5">
        <div class="mb-4">
            <label for="fullname">Full Name</label>
            <input 
            type="text" 
            name="fullname" 
            placeholder="Write your name here"
            class="form-control rounded-0 bg-dark border-0 text-white"
            />
        </div>

        <div class="mb-4">
            <label for="email">Write your email: </label>
            <input 
            type="text" 
            name="email" 
            placeholder="Write your name here"
            class="form-control rounded-0 bg-dark border-0 text-white" 
            />

        </div>
        <div class="mb-4">
            <label for="phone">Write your phone </label>
            <input 
            type="text" 
            name="phone" 
            placeholder="Write your name here"
            class="form-control rounded-0 bg-dark border-0 text-white" 
            />
        </div>

        <button class="btn btn-success"> Savet It</button>
        

    </div>


</form>