{% extends 'layout.html' %}
{% block body %}

{% with messages = get_flashed_messages() %}

{% if messages %}
{% for message in messages %}

{{ message }}

{% endfor %}
{% endif %}

{% endwith %}

<h1> Update</h1>

<form action="/update/{{contact.id}}" method="POST" class="card bg-dark text-white">
    
    <div class="flex-container">
        <div class="flex-item">
            <label for="fullname"> Write you fullname</label>
            <input
             type="text" 
             name="fullname" 
             placeholder="Write your name here" 
             value="{{contact.fullname}}"
             class="form-control rounded-0 bg-dark border-0 text-white"
              />
        
            </div>
            <div class="mb-3">
                <label for="fullname"> Write you email</label>
            <input 
            type="text" 
            name="email" 
            placeholder="Write your email" 
            value={{contact.email}}
            class="form-control rounded-0 bg-dark border-0 text-white"
            />
            </div>
            
            <div class="mb-3">
            <label for="fullname"> Write you phone number</label>
            <input 
            type="text" 
            name="phone" 
            placeholder="Write your phone" 
            value={{contact.phone}}
            class="form-control rounded-0 bg-dark border-0 text-white"
            />
            </div>
            <button class="btn btn-success">Save it </button>
            
    </div>
   
</form>

{% endblock %}